<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search" method="GET">
    <input type="radio" name="searchBy" value="title">
    <label for="">title</label>
    <input type="radio" name="searchBy" value="auther">
    <label for="">auther</label>
    <input type="text" name="keyword">
    <label for="">keyword</label>
    <input type='submit' value="search">
    </form>
</body>
</html>